header {
    width: 100%;
    height: 11em;
    background-color: #4a6b4a;
    color: white;
    padding: 10px 0;
    /* left: 10px; */
}

header h1 {
    display: inline-block;
    position: relative;
    left: 20.6em;
    bottom: 1.2em;
    align-items: flex-start;
    font-family: Jacques Francois;
    font-weight: normal;
}

.sec_row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-left {
    position: relative;
    width: 120px;
    height: 120px;
    left: 40.5rem;
    bottom: 10px;
}

.logo-right {
    width: 120px;
    height: 120px;
    position: relative;
    left: 41.7rem;
    bottom: 10px;
}

.rectangle {
    width: 100%;
    height: 60px;
    position: relative;
    margin: auto;
    bottom: 1.4em;
    background-color: #334b17;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.rectangle h2 {
    position: relative;
    top: -5px;
}
