.notification-icon-container {
    position: relative;
    color: black;
}

.notification-icon {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.notification-icon img {
    width: 100%;
    height: 100%;
}

.notification-count {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

.notification-dropdown {
    display: block;
    position: absolute;
    top: 30px;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure the dropdown is above other elements */
    padding: 10px;
}

.no-notifications {
    text-align: center;
    color: #888;
    padding: 20px 0;
}

.notification-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.notification-item:last-child {
    border-bottom: none;
}

.status-highlight {
    text-decoration: underline;
    cursor: pointer;
}

.status-accepted,
.status-approved {
    color: green;
    font-weight: bold;
}

.status-in-progress,
.status-for-review {
    color: orange;
    font-weight: bold;
}

.status-rejected {
    color: red;
    font-weight: bold;
}
