.status-page {
    width: 80%;
    margin: 0 auto;
    padding: 15px 10px 20px 20px;
    text-align: left;
    color: black;
    position: relative;
    top: 3em;
}

.status-page h2 {
    color: gray;
    font-size: 20px;
}

.status-page table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.status-page th,
.status-page td {
    padding: 10px;
    border: 2px solid #ddd;
    /* width: 50px */
}

.status-page th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.status-page .status {
    /* center the text in the status column */
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    color: black;
    background-color: orange; /* background color for status */
    width: 100px;
    height: 30px;
    position: relative;
}

.status.for-review {
    background-color: orange;
    color: white;
}

.status.accepted {
    background-color: green;
    color: white;
}

.status.in-progress {
    background-color: orange;
    color: white;
}

.status.approved {
    background-color: green;
    color: white;
}

.status.rejected {
    background-color: red;
    color: white;
}

.update_button {
    background-color: #101111;
    color: white; /* White text */
    font-size: 12px;
    border: 2px solid black;
    letter-spacing: 1px; /* Increase the spacing between each letter */
    /* border: none; */
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
        transform: scale(1.03);
        background-color: #333;
    }
}

.delete_button {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: #333;
        transform: scale(1.03);
        color: white;
    }
}

.home-button {
    width: 100px;
    img {
        width: 25px;
        height: 25px;
        &:hover {
            cursor: pointer;
            transform: scale(1.1); /* Scale the image to 1.1 times its original size */
            transition: transform 0.3s ease; /* Smooth transition para sa scaling effect */
        }
    }
}

