.store-selection-container {
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.store-selection-title {
    color: #333;
    /* font-size: 1.1rem; */
}

.store-selection-select {
    width: 100%;
    max-width: 200px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.store-selection-button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 10px;

    &:hover{
        background-color: #333;
    }
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.back-button img {
    width: 24px;
    height: 24px;
}