html {
  height: 100%;
  box-sizing: border-box;
  /* overflow: hidden; */
  overflow: auto;
}

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 6rem;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  margin: 0;
}
