@import url('https://fonts.googleapis.com/css2?family=sans-serif:wght@200;400;500;600;800;900&family=sans-serif:ital,wght@0,1&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}
